	<a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="ti-angle-up"></i></a>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 footer-box">
				<h3 class="fh5co-footer-heading">Hakkımzda</h3>
				<ul class="fh5co-footer-links">
					<li><a href="#">About</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-12 footer-box">
				<h3 class="fh5co-footer-heading">Ulasım</h3>
				<ul class="fh5co-social-icons">

				<li><a href="https://twitter.com/berkwp"><i class="ti-twitter-alt"></i></a></li>
				<li><a href="https://www.linkedin.com/in/berk-karabudak-417361289/"><i class="ti-linkedin"></i></a></li>
				</ul>
			</div>
			<div class="col-md-12 footer-box text-center">
				<div class="fh5co-copyright">
					<p>&copy; 2024</p>	
				</div>
			</div>

		</div>
		<div class="fh5co-spacer fh5co-spacer-md"></div>
	</div>
