@model EntityLayer.Concrete.ContentCategory
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card-body" style="margin-top: 200px;">
                <h4 class="card-title">Kategori Ekleme</h4>
                <div class="form-group row">
                    <label for="CATNAME" class="col-sm-3 col-form-label">Kategori Adı</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="CATNAME" placeholder="Kategori Adı">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary" type="button" onclick="AddCategory()">Kaydet</button>
                        <a class="btn btn-primary" href="/Admin/Home/GetAllCategories">Geri</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddCategory() {
        var model = {
            CATNAME: $('#CATNAME').val(),
        };

        $.ajax({
            url: '/Admin/Home/AddCategory',
            type: 'POST',
            data: model,
            success: function (data) {
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />