<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-6 mt-4 mb-lg-0 stretch-card transparent">
            <div class="card card-tale">
                <div class="card-body">
                    <p class="mb-4">Yayında olan ilan adedi</p>
                    <p class="fs-30 mb-2">@ViewBag.LiveAdCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 mb-lg-0 stretch-card transparent">
            <div class="card card-dark-blue">
                <div class="card-body">
                    <p class="mb-4">Favorilere eklediginiz ilan sayısı</p>
                    <p class="fs-30 mb-2">@ViewBag.FavoriteAdCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
                <div class="card-body">
                    <p class="mb-4">İlanlarınıza Gelen Mesaj Adedi</p>
                    <p class="fs-30 mb-2">999999</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-danger">
                <div class="card-body">
                    <p class="mb-4">Yayında Olmayan İlan Adedi</p>
                    <p class="fs-30 mb-2">@ViewBag.NonLiveAdCount</p>
                </div>
            </div>
        </div>
    </div>
</div>
