@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/dash/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/dash/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="~/dash/text/css" href="~/dash/js/select.dataTables.min.css">
<link rel="stylesheet" href="~/dash/vendors/feather/feather.css">
<link rel="stylesheet" href="~/dash/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/dash/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="~/dash/css/vertical-layout-light/style.css">
<script src="~/skydash/js/todolist.js"></script>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-3 grid-margin transparent">
            <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Yayında olan ilan adedi</p>
                            <p class="fs-30 mb-2">4006</p>
                            <p>10.00% (30 days)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Favorilere eklediginiz ilan sayısı</p>
                            <p class="fs-30 mb-2">61344</p>
                            <p>22.00% (30 days)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card card-light-blue">
                        <div class="card-body">
                            <p class="mb-4">İlanlarınıza Gelen Mesaj Adedi</p>
                            <p class="fs-30 mb-2">34040</p>
                            <p>2.00% (30 days)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                    <div class="card card-light-danger">
                        <div class="card-body">
                            <p class="mb-4">Yayında Olmayan İlan Adedi</p>
                            <p class="fs-30 mb-2">47033</p>
                            <p>0.22% (30 days)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-md-offset-1 stretch-card grid-margin grid-margin-md-8 mt-4">
            <div class="card data-icon-card-primary">
                <div class="card-body mt-2">
                    <a href="Advertisement/addnewad" class="card-title text-white" target="_blank">
                        Hemen İlan Ver
                        Siz de asd.com'a ilan verin, ilanınızın milyonlarca kullanıcı tarafından görüntülenmesini sağlayarak kısa sürede sonuca ulaşın.
                    </a>
                    <div class="row mt-3">
                        <div class="col-8 text-white">
                            <h3>34040</h3>
                            <p class="text-white font-weight-500 mb-12">
                               Su Ana Kadar Verilen İlan Sayısı
                            </p>
                        </div>
                        <div class="col-12 background-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Favori İlanlarım</h4>
                    <div class="list-wrapper pt-2">
                        <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                            <li>
                                <div class="form-check form-check-flat">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Meeting with Urban Team
                                    </label>
                                </div>
                                <i class="remove ti-close"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />